<div id="quote-template" class="">
    <h5 class="quote-title"><b><em>{{this.title}}</em></b></h4>
    <p class="quote-date">{{this.date}}</p>
    <p>{{this.summary}}</p>
    <audio controls>
      <source src="{{this.audioPath}}" type="audio/mp3">
    Your browser does not support the audio element.
    </audio>
</div>
